<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
<div class="wrap">
{{ partial "header.html" . }}
<main>
<h1>404</h1>
{{ if eq .Site.Language.Lang "fr" }}
<p class="section-intro">cat: page introuvable : No such file or directory</p>
<p><a href="{{ "/" | relURL }}">cd ~</a></p>
{{ else }}
<p class="section-intro">cat: page not found: No such file or directory</p>
<p><a href="{{ "/" | relURL }}">cd ~</a></p>
{{ end }}
</main>
{{ partial "footer.html" . }}
</div>
</body>
</html>
